<h1>Students</h1>
<table>
  <thead>
    <th>Student id</th>
    <th>Name</th>
  </thead>
  <% @students.each do |student| %>
    <tr>
      <td>
        <a href="<%= student_path(student[:id]) %>">
          <%= student.id %>
        </a>
      </td>
      <td>
        <%= student.full_name %>
      </td>
    </tr>
  <%end%>
</table>