<% content_for :title, "Editing admin request" %>

<h1>Editing admin request</h1>

<%= render "form", admin_request: @admin_request %>

<br>

<div>
  <%= link_to "Show this admin request", @admin_request %> |
  <%= link_to "Back to admin requests", admin_requests_path %>
</div>
