<nav class="header">
  <%= link_to "Home", root_path %>
  <% if authenticated? %>
    <%= button_to "Log out", session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>
</nav>